<div *ngIf="history">
  <div class="history-title-popup">
    <img src="/assets/images/icon48.png" />
    <h6>
      {{history.title}}
    </h6>
  </div>
  <div class="history-container">
    <div *ngIf="containsDescriptionChanges || containsPointsChanges || containsTitleChanges"
      class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="historyItemFilter.filterBy"
        (ngModelChange)="applyHistoryItemFilterAndSort()">
      <div class="input-group-append">
        <span class="input-group-text">Include changes to</span>
        <button *ngIf="containsDescriptionChanges" class="btn btn-outline-secondary" type="button"
          [class.active]="historyItemFilter.includeDescriptionChanges"
          (click)="historyItemFilter.includeDescriptionChanges = !historyItemFilter.includeDescriptionChanges; applyHistoryItemFilterAndSort()">description</button>
        <button *ngIf="containsTitleChanges" class="btn btn-outline-secondary" type="button"
          [class.active]="historyItemFilter.includeTitleChanges"
          (click)="historyItemFilter.includeTitleChanges = !historyItemFilter.includeTitleChanges; applyHistoryItemFilterAndSort()">title</button>
        <button *ngIf="containsPointsChanges" class="btn btn-outline-secondary" type="button"
          [class.active]="historyItemFilter.includePointsChanges"
          (click)="historyItemFilter.includePointsChanges = !historyItemFilter.includePointsChanges; applyHistoryItemFilterAndSort()">points</button>
      </div>
      <div *ngIf="allChangeAuthors.length > 1" class="input-group-append">
        <span class="input-group-text">made by</span>
      </div>
      <div *ngIf="allChangeAuthors.length > 1" class="input-group-append dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle active" type="button"
          data-toggle="dropdown">{{historyItemFilter.memberCreatorIds.length > 0 ? historyItemFilter.memberCreatorIds.length : allChangeAuthors.length}}/{{allChangeAuthors.length}}
          authors
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-authors">
          <li (click)="clearChangeAuthorSelections();$event.stopPropagation();"
            [ngClass]="{'selected': historyItemFilter.memberCreatorIds.length === 0}">
            <div class="avatar-small"><span>{{allChangeAuthors.length}}</span></div>
            <div>{{allChangeAuthors.length == 2 ? 'Both' : 'All'}} change authors</div>
          </li>
          <li class="dropdown-divider"></li>
          <li *ngFor="let changeAuthor of allChangeAuthors"
            (click)="onFilterByMemberCreatorIdToggled(changeAuthor.id);$event.stopPropagation();"
            [ngClass]="{'selected': historyItemFilter.memberCreatorIds.indexOf(changeAuthor.id) > -1}">
            <div class="avatar-small">
              <img *ngIf="changeAuthor.avatarUrl" src="{{changeAuthor.avatarUrl}}/170.png">
              <span *ngIf="!changeAuthor.avatarUrl">{{changeAuthor.initials}}</span>
            </div>
            <div>{{changeAuthor.fullName}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="history-items">
      <div *ngIf="history.historyItems.length === 0">
        This card was created on a different board and has no history to display at this time.
      </div>
      <history-item [allChangeAuthors]="allChangeAuthors" [history]="history" [historyItem]="historyItem"
        [currentHistoryItemFilter]="historyItemFilter" *ngFor="let historyItem of filteredHistoryItems"
        (filterByMemberCreatorIdToggled)="onFilterByMemberCreatorIdToggled($event)"></history-item>
    </div>
    <div class="last-viewed">
      <span *ngIf="history.lastViewed" id="lastViewed">You last viewed this history on
        {{history.lastViewed | date:'fullDate'}} at {{history.lastViewed | date:'mediumTime'}}</span>
      <span *ngIf="!history.lastViewed" id="firstViewing">This is the first time you've viewed this card's
        history.</span>
    </div>
  </div>
</div>