<div class="history-title-popup">
  <img src="/assets/images/icon48.png" />
  <h6>
    Title of the Selected Trello Card
  </h6>
</div>
<div class="history-container">
  <div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="Filter">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="button" [class.active]="displayDescriptionChanges"
        (click)="displayDescriptionChanges = !displayDescriptionChanges">Description</button>
      <button class="btn btn-outline-secondary" type="button" [class.active]="displayTitleChanges"
        (click)="displayTitleChanges = !displayTitleChanges">Title</button>
      <button class="btn btn-outline-secondary" type="button" [class.active]="displayPointChanges"
        (click)="displayPointChanges = !displayPointChanges">Point</button>
    </div>
  </div>

  <div class="history-items">

    <div class="row history-item-container">
      <div class="col-sm-2 history-item-avatar">
        <img src="https://trello-avatars.s3.amazonaws.com/bf043662d540a9c0e405e4df1f30479e/170.png" title="Jason Bice">
      </div>
      <div class="col-sm-6 history-item">
        <div class="history-item-title">
          <strong>Description</strong> changed by <strong>Jason Bice</strong>
        </div>
        <div class="history-item-changes">
          <div class="history-item-changes-new">
            <a href="">View changes</a>
          </div>
          <div class="history-item-changes-old">
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-4 history-item-misc">
        <strong>2/16/2019</strong> at
        <strong>8:37 AM</strong><br>
        <div class="history-item-misc-lane" title="This change occurred while in On Deck (Sprint Backlog)">On Deck (Sprint Backlog)</div>
        <span class="badge badge-warning history-item-misc-new" title="This change occurred after your last viewing of this card's history">New</span>
      </div>
    </div>

    <div class="row history-item-container">
      <div class="col-sm-2 history-item-avatar">
        <img src="https://trello-avatars.s3.amazonaws.com/1bef602140602b61af22778969d84819/170.png"
          title="Stan Darling">
      </div>
      <div class="col-sm-6 history-item">
        <div class="history-item-title">
          <strong>Title</strong> changed by <strong>Stan Darling</strong>
        </div>
        <div class="history-item-changes">
          <div class="history-item-changes-new">
            This is the new title that Stan created
          </div>
          <div class="history-item-changes-old">
            This was the old title
          </div>
        </div>
      </div>
      <div class="col-sm-4 history-item-misc">
        <strong>2/16/2019</strong> at
        <strong>8:37 AM</strong><br>
        <div class="history-item-misc-lane" title="This change occurred while in On Deck (Sprint Backlog)">On Deck (Sprint Backlog)</div>
        <span class="badge badge-warning history-item-misc-new" title="This change occurred after your last viewing of this card's history">New</span>
      </div>
    </div>

    <div class="row history-item-container">
      <div class="col-sm-2 history-item-avatar">
        <img src="https://trello-avatars.s3.amazonaws.com/9d0c9cb944872ab37237300955edea25/170.png"
          title="Heather Darling">
      </div>
      <div class="col-sm-6 history-item">
        <div class="history-item-title">
          <strong>Points</strong> changed by <strong>Heather Darling</strong>
        </div>
        <div class="history-item-changes">
          <div class="history-item-changes-new">
            3 points
          </div>
          <div class="history-item-changes-old">
            5 points
          </div>
        </div>
      </div>
      <div class="col-sm-4 history-item-misc">
        <strong>2/16/2019</strong> at
        <strong>8:37 AM</strong><br>
        <div class="history-item-misc-lane" title="This change occurred while in On Deck (Sprint Backlog)">On Deck (Sprint Backlog)</div>
        <span class="badge badge-warning history-item-misc-new" title="This change occurred after your last viewing of this card's history">New</span>
      </div>
    </div>
  </div>
</div>