strong {
    font-weight: 500;
}

.history-item {
    display: table;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}

.history-item-avatar {
    text-align: center;
    display: table-cell;
    width: 60px;
}

.history-item-avatar img {
    height: 60px;
    width: 60px;
    border-radius: 0.25em;
}

.history-item-avatar span {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    border: solid 1px lightgray;
    display: block;
    font-size: 34px;
    line-height: 60px;
    overflow: hidden;
    top: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    color: gray;
}

.history-item-details {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}

.history-item-changes {
    width: 65%;
    float: left;
    font-size: 11px;
}

.history-item-changes-new {
    color: #000000;
}

.history-item-changes-old {
    color: #999999;
}

.history-item-changes-old-expanded {
    text-decoration: none;;
    color: #444444;
    background-color: #ebebeb;
}

.history-item-changes-title {
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.history-item-misc {
    float: left;
    width: 35%;
}

.history-item-misc div {
    text-align: right;
}

.history-item-misc small {
    color: #999999;
}

.history-item-misc-lane {
    font-size: 10px;
}

.toggle-collapse:hover {
    cursor: pointer;
    color: black;
    background-color: #f6ef9d;
}