<div class="row history-item-container">
  <div class="col-sm-2 history-item-avatar">
    <img src="https://trello-avatars.s3.amazonaws.com/bf043662d540a9c0e405e4df1f30479e/170.png" title="Jason Bice">
  </div>
  <div class="col-sm-6 history-item">
    <div class="history-item-title">
      <strong>Description</strong> changed by <strong>Jason Bice</strong>
    </div>
    <div class="history-item-changes">
      <div class="history-item-changes-new">
        <a href="">View changes</a>
      </div>
      <div class="history-item-changes-old">
        <br>
      </div>
    </div>
  </div>
  <div class="col-sm-4 history-item-misc">
    <strong>2/16/2019</strong> at
    <strong>8:37 AM</strong><br>
    <div class="history-item-misc-lane" title="This change occurred while in On Deck (Sprint Backlog)">On Deck (Sprint Backlog)</div>
    <span class="badge badge-warning history-item-misc-new" title="This change occurred after your last viewing of this card's history">New</span>
  </div>
</div>