.history-item-avatar img {
    height: 60px;
    width: 60px;
    border-radius: 0.25em;
}

.row {
    padding: 0;
}

.history-item-avatar span  {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    border: solid 1px lightgray;
    display: block;
    font-size: 34px;
    line-height: 60px;
    overflow: hidden;
    top: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    color: gray;
}

.history-item-container {
    margin: 10px 0;
    padding: 10px 0;
    border: solid 1px lightgray;
    border-radius: 0.25em;
}

.history-item-title {
    font-size: 12px;
}

.history-item {
    border-left: solid 1px lightgray;
    font-size: 11px;
}

.history-item-changes {
    margin: 5px 0;
}

.history-item-changes-new {
    border-top: solid 1px #ebebeb;
    padding-top: 5px;
    color: black;
}

.history-item-changes-old {
    text-decoration: line-through;
    color: #999;
}

.history-item-misc {
    font-size: 11px;
    text-align: right;
}

.history-item-misc small {
    color: #999;
}

.history-item-misc-lane {
    font-size: 11px;
    font-weight: bold;
}

.history-item-misc-new {
    font-size: 10px;
}