<div class="history-item">
  <div class="avatar" [title]="memberIdFilterTitle" (click)="onFilterByMemberCreatorIdToggled()"
    [ngClass]="{'cursor-pointer': !isOnlyChangeAuthor, 'cursor-default': isOnlyChangeAuthor}">
    <div>
      <img *ngIf="historyItem.trelloHistoryDataObj.memberCreator.avatarUrl" id="memberCreatorAvatar"
        src="{{historyItem.trelloHistoryDataObj.memberCreator.avatarUrl}}/170.png">
      <span id="memberCreatorInitials"
        *ngIf="!historyItem.trelloHistoryDataObj.memberCreator.avatarUrl">{{historyItem.trelloHistoryDataObj.memberCreator.initials}}</span>
    </div>
  </div>
  <div class="history-item-details">
    <div class="history-item-changes">
      <div class="history-item-changes-title">
        <strong>{{historyItem.updateType}}</strong> {{updateVerb}} by
        <strong>{{historyItem.trelloHistoryDataObj.memberCreator.fullName}}</strong>
        <div *ngIf="historyItem.isNew" class="badge badge-warning"
          title="This change occurred after your last viewing of this card's history">New</div>
      </div>
      <div *ngIf="historyItem.updateType !== 'Converted' && historyItem.updateType !== 'Copied'"
        class="history-item-changes-new">
        <span (click)="onNewExpandToggled(null)"
          [ngClass]="{'toggle-collapse' : historyItem.newValue?.length > MAX_VALUE_DISPLAY_LENGTH, 'collapsed': newValueCollapsed}"
          [innerHTML]="historyItem.updateType === 'Created' ? '' : (newValueCollapsed ? (historyItem.newValue | prettifyHistoryValue) : historyItem.newValue)">
        </span>
        <history-item-menu class="history-item-menu-new" [historyItem]="historyItem" [isNewValue]="true" [isCollapsed]="newValueCollapsed" (expandToggled)="onNewExpandToggled($event)"></history-item-menu>
      </div>
      <div *ngIf="historyItem.updateType === 'Converted'" class="history-item-changes-new">
        <strong>Source:</strong>&nbsp;
        <a [href]="sourceTrelloCardLink" target="_blank">{{historyItem.trelloHistoryDataObj.data.cardSource.name}}</a> /
        {{historyItem.trelloHistoryDataObj.data.checklist.name}}
      </div>
      <div *ngIf="historyItem.updateType === 'Copied'" class="history-item-changes-new">
        <strong>Source:</strong>&nbsp;
        <a [href]="sourceTrelloCardLink" target="_blank">{{historyItem.trelloHistoryDataObj.data.cardSource.name}}</a>
      </div>
      <div *ngIf="historyItem.updateType !== 'Converted' && historyItem.updateType !== 'Copied'"
        class="history-item-changes-old">
        <span (click)="onOldExpandToggled(null)"
          [ngClass]="{'toggle-collapse' : historyItem.oldValue?.length > MAX_VALUE_DISPLAY_LENGTH, 'collapsed': oldValueCollapsed}"
          [innerHTML]="historyItem.updateType === 'Created' ? '' : (oldValueCollapsed ? (historyItem.oldValue | prettifyHistoryValue) : historyItem.oldValue)">
        </span>
        <history-item-menu class="history-item-menu-old" [historyItem]="historyItem" [isNewValue]="false" [isCollapsed]="oldValueCollapsed" (expandToggled)="onOldExpandToggled($event)"></history-item-menu>
      </div>
    </div>
    <div class="history-item-misc">
      <div>
        <strong>{{historyItem.trelloHistoryDataObj.date | date: 'mediumDate'}}</strong>
        <small>&nbsp;at&nbsp;</small>
        <strong>{{historyItem.trelloHistoryDataObj.date | date: 'mediumTime'}}</strong>
        <div class="history-item-misc-lane"
          title="This change occurred while in {{historyItem.trelloHistoryDataObj.data.list.name}}">
          {{historyItem.trelloHistoryDataObj.data.list.name}}
          <div *ngIf="!historyItem.trelloHistoryDataObj.data.list?.name" class="history-item-misc-lane-unavailable">This
            card was assigned to a different board when this change occurred</div>
        </div>
      </div>
    </div>
  </div>
</div>