@import '~ngx-toastr/toastr.css';
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 650px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

div.avatar {
    text-align: center;
    display: table-cell;
    width: 60px;
}

div.avatar-small {
    text-align: center;
    display: table-cell;
    width: 30px;
}

div.avatar img {
    height: 60px;
    width: 60px;
    border-radius: 0.5em;
}

div.avatar-small img {
    height: 30px;
    width: 30px;
    border-radius: 0.5em;
}

div.avatar span {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    display: block;
    font-size: 28px;
    line-height: 60px;
    overflow: hidden;
    top: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    color: #666666;
}

div.avatar-small span {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    display: block;
    font-size: 11px;
    line-height: 30px;
    overflow: hidden;
    top: 0;
    height: 30px;
    width: 30px;
    z-index: 1;
    color: #666666;
    cursor: default;
    font-weight: 500;
}

.input-group-xs>.form-control, .input-group-xs>.input-group-addon, .input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

/* https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4 */

.btn-group-xs>.btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .8rem;
    line-height: .4;
    border-radius: .2rem;
}

/* Toastr overrides */

.toast-container .ngx-toastr {
    padding: 10px;
    border-radius: 2px;
}

.toast-message {
    font-size: 14px;
}

.toast-success {
    background-color: #bef5cb;
    background-image: none;
}

.toast-container > .toast-success {
    color: green;
}

.toast-error {
    background-color: #fdaeb7;
    background-image: none;
}

.toast-container > .toast-error {
    color: darkred;
}