body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 650px;
    color: #333;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

div.avatar {
    text-align: center;
    display: table-cell;
    width: 60px;
}

div.avatar-small {
    text-align: center;
    display: table-cell;
    width: 30px;
}

div.avatar img {
    height: 60px;
    width: 60px;
    border-radius: 0.5em;
}

div.avatar-small img {
    height: 30px;
    width: 30px;
    border-radius: 0.5em;
}

div.avatar span {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    display: block;
    font-size: 28px;
    line-height: 60px;
    overflow: hidden;
    top: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    color: #666666;
}

div.avatar-small span {
    text-align: center;
    border-radius: 2em;
    background-color: #ebebeb;
    display: block;
    font-size: 11px;
    line-height: 30px;
    overflow: hidden;
    top: 0;
    height: 30px;
    width: 30px;
    z-index: 1;
    color: #666666;
    cursor: default;
    font-weight: 500;
}